<app-loading *ngIf="loading"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2 m-1">
      <img [src]="artista.images | noimage" class="img-circle img-thumbnail">
    </div>
    <div class="col">
      <h3>{{ artista.name }}</h3>
      <p>
        <a [href]="artista.external_urls.spotify" target="_blank">
          Ir a la página del artista
        </a>
      </p>
    </div>
    <div class="col-4 text-right">

      <button routerLink="/search" class="btn btn-outline-danger">
        Buscar artista
      </button>

    </div>

</div>

<div class="row m-5">
    <div class="col">
      <table class="table" style="color: white">
        <thead>
          <tr align="center">
            <th>Foto</th>
            <th>Albúm</th>
            <th>Canción</th>
            <th>Vista previa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of topTracks">
            <td> <img [src]="track.album.images | noimage" class="img-thumb"> </td>
            <td>{{ track.album.name }}</td>
            <td>{{ track.name }}</td>
            <td>
                <!-- <audio *ngIf="track.preview_url != null" [src]="track.preview_url" controls></audio>
                <div *ngIf="track.preview_url == null" class="alert alert-success text-center">
                    <strong>Sin vista previa</strong>
                  </div>
                <audio *ngIf="track.preview_url != null" [src]="track.preview_url" controls></audio> -->
              <iframe *ngIf="track.uri != null" [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              <div *ngIf="track.uri == null" class="alert alert-success text-center">
                <strong>Sin vista previa</strong>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
